<app-navbar/>

<main>
    <!-- Sobre o comprador -->
    <div class="vendedor-info">
        <!-- Informação e foto do comprador -->
        <div class="vendedor">
            <!-- Imagem do comprador -->
            <div class="imagem-vendedor">
                <img [src]="caminhoImagem" alt="vendedor">
            </div>

            <!-- Informações do comprador -->
            <div class="info">
                <p class="nome">{{ nome }}</p>
                <p class="numero">{{ numero }}</p>
                <p class="cidade">{{ cidade }}</p>
            </div>
        </div>

        <!-- Imagem do whatsapp -->
        <div class="imagem-whatsapp">
            <img src="assets/imagem-whatsapp.png" alt="whatsapp">
        </div>
    </div>

    <!-- Sobre os produtos -->
    <div class="produtos-container">
        <p>Produtos</p>
        <div class="produtos">
            @for(numero of numeros; track numero) {
                <card class="produto"/>
            }
        </div>
    </div>
</main>