@import '../../../styles.scss';

.container-nav{
    display: flex;
    gap: 10px;
    
    margin-left: 20px;
    margin-right: 20px;
    align-items: center;
    justify-content: space-between;
    max-height: 100px;
   

    @media screen and (min-width:860px) {
        margin-left: 60px;
        margin-right: 60px;
    
    }
    .div-logo{
        width: 10%;
        display: flex;
        justify-content: center;
        img{
            width: 100%;
            max-height: 100px;
        }
    }

    .div-icons{
        width: 50%;
        gap:70px;
        display: flex;
        .pesquisa{
            width: 80%;
            
            display: flex;
            position: relative;
            input{
                width: 100%;
                height: 45px;
                background-color: rgb(255, 255, 255);
                color: $text;
                font-weight: 400;
                border: 2px solid $primary;
                border-radius: 10px;
                padding-left: 10px;

                &:focus{
                    outline: none;
                }
            }
            i{
                position: absolute;
                right: 10px;
                top: 50%;
                transform: translateY(-50%);
                font-size: 26px;
                color: $primary;
            }
        }
        .home{

            cursor: pointer;
            display: flex;
            gap: 10px;
            width: 20%;
            align-items: center;
            justify-content: center;
            i{
                font-size: 26px;
                color:$primary;
            }
            p{
                display: none;
            }
            @media screen and (min-width: 860px) {
                
                p{
                    display: block;
                    font-size: 26px;
                    color: $primary;
                    margin-left: 5px;
                    font-weight: bold;

                }
            }
        }
    }

    .div-img{
        width: 20%;
        display: flex;
        justify-content: center;
 
        img{
            
            max-height: 100px;
            aspect-ratio: 1;
            border-radius: 100%;
           
        }

        .btn {
            width: 100%;
        }
    }   
}
