<section class="d-flex w-100 justify-content-center">
    <div class="container-nav row w-100">
        
        <div class="div-logo">
            <img src="assets/logoPreta.svg" class="img-fluid">
        </div>


        <div class="div-icons">
            <div class="pesquisa">
                <input>
                <i class="fa-solid fa-magnifying-glass"></i>
            </div>
            <div class="home">
                <i class="fa-solid fa-house"></i>
                <p>home</p>
            </div>
        </div>
        <div class="div-img">
            <img *ngIf="isLogado" src="assets/agricultorLogin.png" class="img-fluid"> 
            <button *ngIf="!isLogado" class="button-primary-outline">Virar Vendedor</button>
        </div>

     
    </div> 
</section>