<app-navbar></app-navbar>
<h2>Produtos</h2>
<div class="container">
  <card></card>
  <card></card>
  <card></card>
  <card></card>
  <card></card>
  <card></card>
  <card></card>
  <card></card>
  <card></card>
</div>

<div class="produtores">
  <span>Produtores</span>
  <div class="fotos">
    <img src="./assets/agricultorLogin.png" alt="">
    <img src="./assets/agricultorLogin.png" alt="">
    <img src="./assets/agricultorLogin.png" alt="">
    <img src="./assets/agricultorLogin.png" alt="">
    <img src="./assets/agricultorLogin.png" alt="">
    <img src="./assets/agricultorLogin.png" alt="">
  </div>
</div>
