@import '../../../styles.scss';

.input-jb{
    display: flex;
    flex-direction: column;
    gap: 5px;

    label{
        color: $text;
       font-size: 1.3rem;
    }
    input{
        border: 2px solid $text;
        border-radius: 10px;
        padding-left: 10px;
        height: 50px;
    }

    input {
        border: 2px solid $text;
        border-radius: 10px;
        padding-left: 10px;
        height: 50px;
        color: $text;

        &:focus {
            outline: none;
        }
    }
}