<section class="d-flex justify-content-center align-items-center mt-2 mb-2 flex-column gap-3 w-100">



        <div class="w-100 p-4">
            <p>Botões</p>
        
            <!-- Botões -->
            <div class="d-flex gap-4">
                <button class="button-primary">Teste</button>
                <button class="button-primary-outline">Teste</button>
                <button class="button-danger">Teste</button>
                <button class="button-danger-outline">Teste</button>
            </div>
        </div>

        <div class="w-100 p-4">
            <p>Inputs</p>
            <div style="width: 400px;">

            <!-- Inputs -->
                <div class="input-jb">
                    <label>Exemplo</label>
                    <input type="text">
                </div>

                <div class="input-icon-jb">
                    <label>Exemplo</label>
                    <div>
                        <input type="text">
                        <i class="fa-solid fa-eye"></i>
                    </div>
                </div>
            </div>
        </div>

        <!-- Card -->
        <div class="w-100 p-4">
            <p>Cards</p>
        </div>

</section>