.corpo{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-size: 18px;
    

    .grupo{
        height: 80%;
        width: 90%;

        display: flex;
        flex-direction: column;
    
        align-items: center;


        .div-form{
            width: 100%;
            form{
                
                display: flex;
                flex-direction: column;
                gap: 20px;

                .div-tel,.div-senha{
                    display: flex;
                    flex-direction: column;
                    
                    label{
                        margin-bottom: 5px;
                    }
                    input{
                        height: 50px;
                        border: 2px solid var(--gray);
                        border-radius: 10px;
                        padding-left: 10px;
                    }
                    .senha{
                        display: flex;
                        position: relative;
                        input{
                            width: 100%;
                        }
                        i{
                            cursor: pointer;
                            font-size: 30px;
                            position: absolute;
                            top: 50%;
                            right: 20px;
                            transform: translateY(-50%);
                        }
                    }
                }


        
                .div-esqueci_senha{
                    align-self: flex-end;

                    a{
                        text-decoration: none;
                        color: black;
                        margin-right: 5px;
                        font-size: 20px;
                    }
                }
                .div-btn{
                    display: flex;
                    justify-content: center;
                    button{
                        width: 200px;
                        height: 62px;
                        border: 3px solid var(--primary);
                        background-color: transparent;
                        border-radius: 10px;
                        color: var(--primary);
                        font-weight: 600;

                    }
                }
                .div-criar{
                    display: flex;
                    justify-content: center;
                    a{
                        text-decoration: none;
                        font-size: 20px;
                        font-weight: 500;
                        color: #0062D4;
                    }
                }
            }
        }
    }
}