<section>
    <!-- Imagem do agricultor -->
    <div class="agricultor">
        <img src="assets/agricultorLogin.png" alt="Agricultor">
    </div>

    <form>
        <!-- Imagem da logo -->
        <div class="logo">
            <img src="assets/logoVerde.png" alt="JustBuy Agro">
        </div>

        <!-- Seção dos inputs -->
        <div class="inputs">
            <input-jb [texto]="'Número'" class="input" />
            <input-icon-jb [texto]="'Senha'" class="input" />
            <a href="#">Esqueci a senha</a>
        </div>

        <!-- Engloba botão e o link para registro -->
        <div class="botao-link">

            <!-- Botão para entrar -->
            <btn [texto]="'ENTRAR'"/>

            <!-- Link para cadastro -->
            <a href="#" class="criar-conta">Criar uma conta</a>
            
        </div>
    </form>

</section>