<div class="container-landing-page">
    <img src="https://i.postimg.cc/8CX9MC8d/Just-Buy-Agro-Logo.png" class="logo-marca" alt="">
    <h1 class="titulo-principal">Os Melhores preços você Encontra <strong class="negrito-aqui">AQUI</strong></h1>
    <div class="container-informacoes">
        <h2 class="titulo-informacoes">Os Melhores <strong class="produtos-negrito">PRODUTROS</strong></h2>
        <h2 class="descricao">Descubra nossa seleção de <strong class="mudas-negrito">mudas</strong> e <strong class="sementes-negrito">sementes</strong> de alta qualidade, 
            cuidadosamente cultivadas para garantir máxima produtividade e resistência</h2>
    </div>
    <div class="container-informacoes">
        <h2 class="titulo-informacoes">Produtos agrícolas ao seu <strong class="alcance-negrito">ALCANCE!</strong></h2>
        <h2 class="descricao">Agora, é mais fácil do que nunca adquirir <strong class="mudas-negrito">mudas</strong> e <strong class="sementes-negrito">sementes</strong>. Com <strong class="descricao-negrito">apenas alguns cliques</strong></h2>
    </div>
    <div class="container-botoes">
        <button class="botoes-landing-page">Ser Vendedor</button>
        <button class="botoes-landing-page">Ser Cliente</button>
    </div>
    
</div>
